<a href="https://colab.research.google.com/github/AliRaza1801/dsrepo/blob/main/collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('dsfdfv')

dsfdfv

In [ ]:
print(round(3/2,2))

1.5

In [ ]:
print('hello',end=' ')
print('ali',end='\t')
print('hello ',end='\n')
print('name ',end='')

hello ali	hello
name

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
set1={1,2,3,4}
set1.discard(5)
set1.remove(5)
print(set1)

{1, 2, 3, 4}

In [ ]:
d={1:{2:3,4:5},'p':'q','q':{'w':9,'l':0}}
d[1][2]

3

In [ ]:
f=open('check.txt','r+')
print(f.read())
f.close()
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/AliRaza1801/dsrepo/main/Orders-With%20Nulls.csv','r+')
# f=open('https://raw.githubusercontent.com/AliRaza1801/dsrepo/main/check.txt','r+')
# print(f.read())
# f.close()

{"B": "{\"b\": 1, \"c\": 2}"}
{"C": "{\"c\": 1, \"d\": 2}"}

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

                                    O    de  ... oduct Catego   y
0        3,10/13/2010,6,261.54,Regula    Ai  ...          NaN NaN
1           6,2/20/2012,2,6.93,Regula    Ai  ...          NaN NaN
2      32,7/15/2011,26,2808.08,Regula    Ai  ...          NaN NaN
3       32,7/15/2011,24,1761.4,Delive   y T  ...          NaN NaN
4     32,7/15/2011,23,160.2335,Regula    Ai  ...          NaN NaN
...                               ...   ...  ...          ...  ..
8402                        ,,,,,,,,,  None  ...          NaN NaN
8403                        ,,,,,,,,,  None  ...          NaN NaN
8404                        ,,,,,,,,,  None  ...          NaN NaN
8405                        ,,,,,,,,,  None  ...          NaN NaN
8406                        ,,,,,,,,,  None  ...          NaN NaN

[8407 rows x 13 columns]

In [6]:
import pandas as pd
ex=pd.read_csv("https://raw.githubusercontent.com/AliRaza1801/dsrepo/main/check.txt")
print(ex)
print(type(ex))
print(ex.dtype())

   {"B": "{\"b\": 1   \"c\": 2}"}
0  {"C": "{\"c\": 1   \"d\": 2}"}
<class 'pandas.core.frame.DataFrame'>

AttributeError: ignored

In [8]:
from collections import Counter
a='ali raza'
print(dict(Counter(a)))

{'a': 3, 'l': 1, 'i': 1, ' ': 1, 'r': 1, 'z': 1}

In [32]:
from collections import deque
x=deque([1,2,3,3,4,2,4])
print(x.index(3,3,6))
x.rotate(-3)
print(x)

3
deque([3, 4, 2, 4, 1, 2, 3])